---
# vim: set ft=liquid:
title: Curriculum Vitae—Eddie Antonio Santos
redirect_from: "/resume/"
---
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>{{ page.title }}</title>

    <meta name="author" content="Eddie Antonio Santos">
    <meta name="date" content="{{ site.time | date: "%F" }}">
    <meta name="designer" content="Eddie Antonio Santos">
    <meta name="description" content="Curriculum Vitae (CV) of Eddie Antonio Santos, software engineer and computer science educator">

    <meta name="twitter:creator " content="@_eddieantonio">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" href="{{ baseurl }}/style/fonts/latin-modern-roman/stylesheet.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/resume.css" type="text/css" rel="stylesheet">
</head>
<body>
  <nav class="corner-nav">
    <a class="back" href="{{ baseurl }}/">Back to home</a>
  </nav>

  <div class='container'>
    <main>
      <header class="masthead">
        <h1 class="author"> Eddie Antonio Santos </h1>
        <h2 class="title"> Curriculum Vitae </h2>
        <p class="tagline"> Software engineer and computer science educator </p>
        <ul class="contact">
          <!-- https://www.google.com/recaptcha/admin#mailhide -->
          <li class="website"><a href="{{ baseurl }}/">{{ site.me.website }}</a></li>
          <li class="email"><a onclick="window.location=['m', 'ilto:e', 's', 'ntos@u', 'lbert', '.c', ''].join(String.fromCharCode(0x61))"
                 class="nothing-to-see-here" href="#">s</a></li>
          <li class="github"><a href="{{ site.me.github }}"
                                ><span class="print-only">github.com/</span
                                >eddieantonio</a></li>
        </ul> </p>
      </header>

      <article>
      <section class="education">
        <header>
          <h2>Education</h2>
        </header>

        {% for ed in site.data.resume.education %}
        <section class="title-location-block">
          <hgroup>
            <h3 class="title">{{ ed.program }}</h3>
            <div class="location">{{ ed.institution }}</div>
          </hgroup>

          <div class="time">
            {{ ed.time.start }}–{% if ed.time.end
              %}{{ ed.time.end }}
            {% elsif ed.in_progress
              %}<span class="in-progress">Expected: {{ ed.time.expected }} </span>
            {% endif %}
          </div>
        </section>
        {% endfor %}
      </section>

      <section class="skills">
        <header>
          <h2>Technical Skills</h2>
        </header>

        <section>
          <h3> Programming languages </h3>

          <ul class="lang-list">
          {% for tier in site.data.resume.skills.languages %}
            {% assign tier_no = forloop.index %}
            {% for lang in tier %}
            <li class="lang-tier-{{ tier_no }}
              lang-{{ lang | replace:' ','-' | downcase }}">{{ lang }}</li>
            {% endfor %}
          {% endfor %}
          </ul>
        </section>

        <section>
          <dl>
            {% for category in site.data.resume.skills.small_categories %}
              <dt> {{ category[0] }} </dt>
              <dd> {{ category[1] | join: ', ' | markdownify }} </dd>
            {% endfor %}
          </dl>
        </section>

        <section>
          <h3> Natural languages </h3>
          <dl>
            <dt> English <dd> fluent reading, speaking, writing
            <dt> Spanish <dd> fluent reading, semi-fluent speaking, semi-fluent writing
          </dl>
        </section>

      </section>

      <section class="experience">
        <header>
          <h2> Work Experience </h2>
        </header>

        {% for job in site.data.resume.experience %}
        <section class="title-location-block">
          {% capture job_employer %}{% if job.employer %}{{ job.employer }}{% else %}{{ job.location }}{% endif %}{% endcapture %}
          <hgroup>
            <h3 class="title">{{ job.title }}</h3>
            <div class="time">
              {% if job.time.start == job.time.end
                %}{{ job.time.start }}{%
                else
                %}{{ job.time.start }}–{% if job.time.end %}{{ job.time.end }}{% endif %}
              {% endif %}
            </div>
          </hgroup>
          <div class="location">{{ job_employer }}</div>

          <ul class="responsibilities">
            {% for item in job.responsibilities %}
              <li> {{ item | markdownify }} </li>
            {% endfor %}
          </ul>
        </section>
        {% endfor %}
      </section>

      <section class='publications'>
        <h2>Publications</h2>

        <p> My OCRID: <a href="https://orcid.org/0000-0001-5337-715X"> orcid.org/0000-0001-5337-715X </a>

        <ul>
          {% for paper in site.data.resume.publications %}
            <li>
              <span class="publication-authors">{{ paper.authors | join: ', ' }}</span>,
              <span class="publication-title">
                {% if paper.url %}
                  “<a href="{{ paper.url }}">{{ paper.title }}</a>,”
                {% else %}
                  “{{ paper.title }},”
                {% endif %}
              </span>
              <span class="publication-year">{{ paper.year }}</span>.
          {% endfor %}
        </ul>
      </section>

      <section class='hobbies'>
        <h2>Hobbies</h2>

        <dl>
          {% for hobby in site.data.resume.hobbies %}
            <dt> {{ hobby.title | markdownify }} </dt>
          {% endfor %}
        </dl>
      </section>
      </article>
    </main>
  </div>
</body>
</html>
