/*
 * Styles for my front-page.
 *
 * 2015-2017 © Eddie Antonio Santos.
 */

// Colors

$highlight-colour: #909090;
$main-colour: #666;
$background-color: #fafcff;
$banner-color: fade-out(white, 0.15);

$background-image: url(./bg/barco-atitlan.jpg);

// Main font styles.

$display-fonts: Raleway, Helvetica Neue, Helvetica, sans-serif;

body {
  font: 100% $display-fonts;
}

// Layout and reset.

html, body { height: 100%; }

// Link styles

a:link, a:visited, a:active {
  color: inherit;
}

a:hover { color: $highlight-colour; }

// Home page styles

html {
  background: $background-image 50% / cover fixed no-repeat $background-color;
}

body {
  color: $main-colour;
}

body.home {
  display: flex;
  align-items: center;
}

body.home > footer {
  // Stick the footer on the bottom.
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: white;
  opacity: 0.4;
}

// Banner styles

main {
  width: 100%;

  text-align: center;

  text-transform: lowercase;
  background-color: $banner-color;
  padding: 1em 0 1.5em;
}

h1.site-title {
  word-spacing: -0.25em; /* Remove the space between words. */
  font-weight: 100;
  font-size: 400%;
}

.site-title a {
  text-decoration: none;
  color: inherit;
}

.eddie-antonio { color: $highlight-colour; }
.santos { font-weight: bold; }

.social-media {
  margin-top: 1em;
}

.inline-nav > * > li {
  display: inline-block;
  margin-left: 1em;
}
